h1 {
  letter-spacing: 15px;
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
  background-color: #bb77aa;
  letter-spacing: 20px;
  font-size: 25px;
  color: #cc11aa;
}

.jumbotron {
  background-image: url("../img/VMP.jpg");
  background-size: 15%;
  background-repeat: space;
  background-position: center;
}
