@{
  Layout ="_Layout";
}

<h1>Update @Model[].GetName() Name</h1>

<form class="form-group" method="post" action="/stylistdetails/@Model["stylist"].GetId()/@Model[].GetId()">
  <label for="newClient">Update the client name</label>
  <input name="newClient" type="text">
  <button type="submit" class="btn btn-info">Update</button>
</form>
