@{
  Layout ="_Layout";
}

<h1>Update @Model[].GetName()'s Name</h1>

<form class="form-group" method="post" action='/stylistdetails/@Model["stylist"].GetId()/@Model[].GetId()'>

  <label for="updated-client">Update the client name</label>
  <input name="updated-client" type="text">
  <button type="submit" class="btn btn-info">Update</button>
