@{
  Layout = "_Layout";
}

  <form action="/" class="form-group" method="post">
    <label for="stylistname">Please add your stylist's name here.</label>
    <input type="text" class="form-control" name="stylistname">

    <label for="stylistfee">Please add your stylist's fee here.</label>
    <input type="number" class="form-control" name="stylistfee">

    @if(Model!=null)
    {
      @foreach(var stylist in Model)
      {
        <div class="well">
          <h3><a href="/stylistdetails/@stylist.GetId()">@stylist.GetName()</a>
        </div>
      }
    }

    <button type="submit" name="button" class="btn btn-success">Submit a stylist!</button>
  </form>

</div>
