@{
  Layout = "_Layout";
}
  <h1>@Model.GetName()</h1>

  <form class="form-group" action="/stylistdetails/@Model.GetId()" method="post">

    <label for="clientName">Enter a client:</label>
    <input type="text" name="clientName">

    <button type="submit" class="btn btn-success">Add Client</button>
      <a href="/"><button type="button" class="btn btn-success">Back to Stylists</button></a>
  </form>

  @foreach(var client in @Model.SearchAllClients())
  {
    <div class="well">
    <form action="/stylistdetails/@Model.GetId()/deleted/@client.GetId()" method="post">
    <button type="submit" class="btn btn-succes">submit</button>
    </form>

    <span class="client-style">@client.GetName()</span>
    <a href="/stylistdetails/@Model.GetId()/edit/@client.GetId()"><button type="submit" class="btn btn-info">Edit</button></a>
    </div>
  }

</div>
